<section class="content-header">
	<h1>Call History</h1>
</section>
<section class="content">
	<div class="row">
		<div ng-class="'calls' | isState ? 'col-md-12' : 'col-md-3'">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">All Calls</h3>
				</div>
				<div class="box-body table-responsive no-padding">
					<table class="table">
						<thead>
							<tr>
								<th>Call Date</th>
								<th>Call Description</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="call in calls">
								<td>{{call.date}}</td>
								<td>{{call.description}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-9" ui-view></div>
	</div>
</section>
